@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    /* :root[theme='light'] {
        --surface: #fcfdfe;
        --texture: #555;
        --texture-light: #000;
        --selection-bgcolor: rgba(85, 85, 85, 0.5)
    }

    :root[theme='dark'] {
        --surface: #050505;
        --texture: #bbb;
        --texture-light: #fff;
        --selection-bgcolor: rgba(187, 187, 187, 0.5)
    } */

    /* 1200x + y = 20 */
    /* 375x + y = 14 */
    /* 0.00727 */
    /* 11.27 */

    :root {
        font-size: calc(12px + 0.6vw);
    }

    @media screen and (max-width: 375px) {
        :root {
            font-size: 14px;
        }
    }

    @media screen and (min-width: 1280px) {
        :root {
            font-size: 18px;
        }
    }

    :root {
        /* brand foundation */
        --brand-hue: 200;
        --brand-saturation: 100%;
        --brand-lightness: 50%;

        /* light */
        --brand-light: hsl(var(--brand-hue) var(--brand-saturation) var(--brand-lightness));
        --text1-light: hsl(var(--brand-hue) var(--brand-saturation) 10%);
        --text2-light: hsl(var(--brand-hue) 30% 20%);
        --surface1-light: hsl(var(--brand-hue) 25% 90%);
        --surface2-light: hsl(var(--brand-hue) 20% 99%);
        --surface3-light: hsl(var(--brand-hue) 20% 92%);
        --surface4-light: hsl(var(--brand-hue) 20% 85%);
        --surface-shadow-light: var(--brand-hue) 10% 20%;
        --shadow-strength-light: .02;

        /* dark */
        --brand-dark: hsl(var(--brand-hue) calc(var(--brand-saturation) / 2) calc(var(--brand-lightness) / 1.5));
        --text1-dark: hsl(var(--brand-hue) 15% 85%);
        --text2-dark: hsl(var(--brand-hue) 5% 65%);
        --surface1-dark: hsl(var(--brand-hue) 10% 10%);
        --surface2-dark: hsl(var(--brand-hue) 10% 15%);
        --surface3-dark: hsl(var(--brand-hue) 5% 20%);
        --surface4-dark: hsl(var(--brand-hue) 5% 25%);
        --surface-shadow-dark: var(--brand-hue) 50% 3%;
        --shadow-strength-dark: .8;

        --border: 1px solid hsl(var(--brand-hue) 10% 50% / 15%);
        --box-shadow:
            0 2.8px 2.2px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .03)),
            0 6.7px 5.3px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .01)),
            0 12.5px 10px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .02)),
            0 22.3px 17.9px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .02)),
            0 41.8px 33.4px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .03)),
            0 100px 80px hsl(var(--surface-shadow) / var(--shadow-strength));
    }

    :root {
        color-scheme: light;

        --brand: var(--brand-light);
        --text1: var(--text1-light);
        --text2: var(--text2-light);
        --surface1: var(--surface1-light);
        --surface2: var(--surface2-light);
        --surface3: var(--surface3-light);
        --surface4: var(--surface4-light);
        --surface-shadow: var(--surface-shadow-light);
        --shadow-strength: var(--shadow-strength-light);
    }

    :root[theme='light'] {
        color-scheme: light;

        --brand: var(--brand-light);
        --text1: var(--text1-light);
        --text2: var(--text2-light);
        --surface1: var(--surface1-light);
        --surface2: var(--surface2-light);
        --surface3: var(--surface3-light);
        --surface4: var(--surface4-light);
        --surface-shadow: var(--surface-shadow-light);
        --shadow-strength: var(--shadow-strength-light);
    }

    :root[theme='dark'] {
        color-scheme: dark;

        --brand: var(--brand-dark);
        --text1: var(--text1-dark);
        --text2: var(--text2-dark);
        --surface1: var(--surface1-dark);
        --surface2: var(--surface2-dark);
        --surface3: var(--surface3-dark);
        --surface4: var(--surface4-dark);
        --surface-shadow: var(--surface-shadow-dark);
        --shadow-strength: var(--shadow-strength-dark);
    }

    html {
        background-color: var(--surface1);
        scroll-behavior: smooth;
    }

    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 999px;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--surface4);
        border-radius: 999px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--surface3);
    }

    ::selection {
        background: var(--brand);
        color: var(--text1);
    }

    img {
        max-width: 100%;
        display: block;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--text1);
        font-weight: bold;
        margin: 1.25rem 0;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1.25rem;
    }

    h2:target,
    h3:target,
    h4:target {
        /* padding-top: 100px;
        margin-top: calc(1.25rem - 100px); */
        scroll-margin-top: calc(4rem);
    }

    a {
        transition: all .2s;
    }

    a:hover {
        color: var(--text1);
        text-decoration: underline;
    }

    p {
        margin: 1.25rem 0;
    }

    strong {
        color: var(--text1);
    }

    article ul {
        list-style-type: ' - ';
        margin-left: 1em;
    }

    pre {
        overflow: auto;
        margin: 1.25rem 0;
        border-radius: .6rem;

        border: var(--border);
        box-shadow: var(--box-shadow);
    }

    blockquote {
        border: var(--border);
        border-left: .25rem solid var(--brand);
        background-color: var(--surface3);
        overflow: hidden;
        padding: 0 1rem;
        color: var(--text1);
        margin: 1.25rem 0;
        box-shadow: var(--box-shadow);
    }

    blockquote>p {
        white-space: pre-wrap;
    }


    code {
        background-color: var(--surface3);
        border-radius: .25rem;
        padding: .1rem .25rem;
        color: var(--text1);
    }

    .mask-image {
        mask-image: radial-gradient(circle, transparent, black);
    }

    .rad-shadow {
        border: var(--border);
        box-shadow: var(--box-shadow);
    }
}