@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    :root[theme='light'] {
        --surface: #fcfdfe;
        --texture: #555;
        --texture-light: #000;
    }

    :root[theme='dark'] {
        --surface: #050505;
        --texture: #bbb;
        --texture-light: #fff;
    }

    html,
    body {
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
            Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    }

    html {
        background-color: var(--surface);
    }

    body::-webkit-scrollbar {
        width: 20px;
        height: 20px;
        display: none;
    }

    body::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: #f7f4ed;
    }

    body::-webkit-scrollbar-thumb {
        background: #e0cbcb;
        border-radius: 100vh;
        border: 3px solid #f6f7ed;
    }

    body::-webkit-scrollbar-thumb:hover {
        background: #c0a0b9;
    }

    img {
        max-width: 100%;
        display: block;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--texture-light);
    }

    main a {
        border-bottom: 1px solid;
        transition: all .2s;
    }

    a:hover {
        color: var(--texture-light);
    }

    p {
        margin: 24px 0;
    }

    strong {
        color: var(--texture-light);
    }

    ul {
        list-style-type: ' - ';
        margin-left: 1em;
    }

    .mask-image {
        mask-image: radial-gradient(circle, transparent, black);
    }
}