@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    /* :root[theme='light'] {
        --surface: #fcfdfe;
        --texture: #555;
        --texture-light: #000;
        --selection-bgcolor: rgba(85, 85, 85, 0.5)
    }

    :root[theme='dark'] {
        --surface: #050505;
        --texture: #bbb;
        --texture-light: #fff;
        --selection-bgcolor: rgba(187, 187, 187, 0.5)
    } */

    /* 1200x + y = 20 */
    /* 375x + y = 14 */
    /* 0.00727 */
    /* 11.27 */

    :root {
        font-size: calc(12px + 0.46vw);
    }

    @media screen and (max-width: 375px) {
        :root {
            font-size: 14px;
        }
    }

    @media screen and (min-width: 1280px) {
        :root {
            font-size: 18px;
        }
    }

    :root {
        /* brand foundation */
        --brand-hue: 200;
        --brand-saturation: 100%;
        --brand-lightness: 50%;

        --sm: .25rem;
        --md: .5rem;
        --lg: 1rem;
        --sm-n: -.25rem;
        --md-n: -.5rem;
        --lg-n: -1rem;

        /* light */
        --brand-light: hsl(var(--brand-hue) var(--brand-saturation) var(--brand-lightness));
        --text1-light: hsl(var(--brand-hue) var(--brand-saturation) 10%);
        --text2-light: hsl(var(--brand-hue) 30% 20%);
        --surface0-light: hsl(var(--brand-hue) 25% 85%);
        --surface1-light: hsl(var(--brand-hue) 25% 90%);
        --surface2-light: hsl(var(--brand-hue) 20% 99%);
        --surface3-light: hsl(var(--brand-hue) 20% 92%);
        --surface4-light: hsl(var(--brand-hue) 20% 85%);

        /* dark */
        --brand-dark: hsl(var(--brand-hue) calc(var(--brand-saturation) / 2) calc(var(--brand-lightness) / 1.5));
        --text1-dark: hsl(var(--brand-hue) 15% 85%);
        --text2-dark: hsl(var(--brand-hue) 5% 65%);
        --surface0-dark: hsl(var(--brand-hue) 10% 5%);
        --surface1-dark: hsl(var(--brand-hue) 10% 10%);
        --surface2-dark: hsl(var(--brand-hue) 10% 15%);
        --surface3-dark: hsl(var(--brand-hue) 5% 20%);
        --surface4-dark: hsl(var(--brand-hue) 5% 25%);

        --surface-shadow-sm: var(--sm) var(--sm) var(--md) var(--surface0),
            var(--sm-n) var(--sm-n) var(--md) var(--surface2);
        --surface-shadow-inset-sm: inset var(--sm) var(--sm) var(--md) var(--surface0),
            inset var(--sm-n) var(--sm-n) var(--md) var(--surface2);

        --surface-shadow-md: var(--md) var(--md) var(--lg) var(--surface0),
            var(--md-n) var(--md-n) var(--lg) var(--surface2);
        --surface-shadow-inset-md: inset var(--md) var(--md) var(--lg) var(--surface0),
            inset var(--md-n) var(--md-n) var(--lg) var(--surface2);
    }

    :root {
        color-scheme: light;

        --brand: var(--brand-light);
        --text1: var(--text1-light);
        --text2: var(--text2-light);
        --surface0: var(--surface0-light);
        --surface1: var(--surface1-light);
        --surface2: var(--surface2-light);
        --surface3: var(--surface3-light);
        --surface4: var(--surface4-light);
    }

    :root[theme='dark'] {
        color-scheme: dark;

        --brand: var(--brand-dark);
        --text1: var(--text1-dark);
        --text2: var(--text2-dark);
        --surface0: var(--surface0-dark);
        --surface1: var(--surface1-dark);
        --surface2: var(--surface2-dark);
        --surface3: var(--surface3-dark);
        --surface4: var(--surface4-dark);
    }

    .surface-sm {
        background-color: var(--surface1);
        border: var(--border);
        box-shadow: var(--surface-shadow-sm);
    }

    .surface-sm:active,
    .surface-sm__active {
        box-shadow: var(--surface-shadow-inset-sm);
    }

    .surface-md {
        background-color: var(--surface1);
        border: var(--border);
        box-shadow: var(--surface-shadow-md);
    }

    .surface-md:active,
    .surface-md__active {
        box-shadow: var(--surface-shadow-inset-md);
    }

    html {
        background-color: var(--surface1);
        scroll-behavior: smooth;
    }

    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 999px;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--surface4);
        border-radius: 999px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--surface3);
    }

    ::selection {
        background: var(--brand);
        color: var(--text1);
    }

    img {
        max-width: 100%;
        display: block;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--text1);
        font-weight: bold;
        margin: 1.25rem 0;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1.25rem;
    }

    h2:target,
    h3:target,
    h4:target {
        /* padding-top: 100px;
        margin-top: calc(1.25rem - 100px); */
        scroll-margin-top: calc(4rem);
    }

    article a {
        transition: all .2s;
    }

    article a:hover {
        color: var(--text1);
        text-decoration: underline;
    }

    p {
        margin: 1.25rem 0;
    }

    strong {
        color: var(--text1);
    }

    article ul {
        list-style-type: ' - ';
        margin-left: 1em;
    }

    pre {
        overflow: auto;
        margin: 1.25rem 0;
        border-radius: .6rem;

        border: var(--border);
        box-shadow: var(--surface-shadow-md);
    }

    blockquote {
        background-color: var(--surface3);
        border: var(--border);
        box-shadow: var(--surface-shadow-md);

        border-left: .25rem solid var(--brand);
        border-radius: .6rem;

        overflow: hidden;
        padding: 0 1rem;
        margin: 1.25rem 0;
        color: var(--text1);
    }

    blockquote>p {
        white-space: pre-wrap;
    }


    code {
        border: var(--border);
        background-color: var(--surface3);
        border-radius: .25rem;
        padding: .1rem .25rem;
        color: var(--text1);
    }

    .mask-image {
        mask-image: radial-gradient(circle, transparent, black);
    }
}